<div class="container">
  <div class="row">
    <div class="login">
      <div class="left-Login col-sm-12">
        <div class="logo">
          <img src="../assets/GSYSTEM.png" alt="G-System" class="img">
          <p class="text">Ganhe controle total sobre sua operação de rastreamento com o ERP mais avançado do mercado.</p>
        </div>
      </div>
      <div class="rigth-Login col-sm-12">
        <div class="login-content">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuário</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@central.com">
          </div>
          <div>
            <label for="inputPassword2" class="visually">Senha</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Digite sua senha">
          </div>
          <div>
            <button type="submit" class="btn btn-primary mb-3" style="margin-top: 15px;">Acessar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>